.Container {
    align-items: center;
    justify-content: center;
}

.Formulario-Entrar h1{
    margin-top: 30px;
    color: #121212;
}

.Formulario-Entrar {
    width: 450px;
    height:  400px;
    background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: 5em;
    border-radius: 30px;
}

.Campo-Texto{
    width: 300px;
    padding: 12px;
    margin-left: 60px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 0px 0px 12px #0052d4;
    color: black;
    font-weight: 700;
    
}

.btn{
    position: absolute;
    margin-top: 150px;
    margin-left: -270px;
    width: 200px;
    height: 40px;
    background: linear-gradient(to right, #0052d4, #65c7f7);
    cursor: pointer;
    font-weight: 700;
}